/* alle pagina's zijn standaard zwart */



body {
 background-color: #000000;
 color: #40E0D0;
 font-family: Verdana;
}

h1 {
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-style: italic;
  text-align: left;
  letter-spacing: 1px;
}

h3 {
  font-style: italic;
  text-align: left;
  letter-spacing: 1px;
}

p {
  text-align: left;
  letter-spacing: 1px;
  border: 4px #8B0000 double;
  border-radius: 20px 0px 20px 0px;

}

img {
  text-align: center;
  border: 4px #8B0000 double;
  border-radius: 20px 0px 20px 0px;
}

ul {
  background-color: #00008B;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* padding-top: 10px;
  padding-bottom: 5px; */
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
  word-spacing: 10px;
  border-bottom: 10px;
  height: 50px;
}

li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px
}

li  {
  display: inline-block;
}

li a:hover {
  background-color: #000000;
  color: #FFFFFF;
  /* padding-top: 10px; */
  /* padding-bottom: 0px: */
}
