/* alle pagina's zijn standaard zwart */
body {
 background-color: black;
 color: turquoise;
 font-family: serif;
}

h1 {
  text-align: right;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}
